body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background: var(--base-white);
    box-shadow: var(--shadow-background);
    width: 100%;
    max-width: 1440px;
}

#container__product {
    padding: var(--padding-xxl) var(--padding-md);
    gap: var(--spacing-xl);
    align-items: start;
    display: flex;
}

.title {
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
}

.gallery__main {
    position: relative;
    overflow: hidden;
}

.gallery__main img {
    width: 100%;
    transition: transform 0.5s;
    cursor: pointer;
}

.gallery__extras {
    display: flex;
    width: 100%;
    gap: var(--spacing-s);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    position: relative;
}

.gallery__thumbnail.selected {
    box-shadow: var(--shadow-light);
    transition: 0.3s ease-out;
    border-radius: var(--radius-s);
}

.carrousel-button {
    position: sticky;
    z-index: 1;
    padding: .5rem;
    background-color: #fffa;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#next {
    right: 0;
}

#prev {
    left: 0;
}

.gallery__extras img {
    width: 20%;
    max-width: 100px;
    object-fit: contain;
    cursor: pointer;
    scroll-snap-align: center;
    transition: transform 0.3s;
}

.gallery__extras img:hover {
    transform: scale(1.05);
}


.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo oscuro */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Por encima de otros elementos */
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.5s;
    /* Transición suave para zoom */
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--spacing-xl);
    row-gap: var(--spacing-m);
}

.data__item {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.item__title {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

.item__title span {
    padding: var(--padding-xxs);
    background-color: var(--secondary-600);
    color: var(--base-white);
    border-radius: var(--radius-full-round-perc);
}

.price {
    text-align: center;
    margin: auto;
    font-size: var(--font-size-lg);
}

.price strong {
    font-size: var(--font-size-mega);
    color: var(--secondary-800);
    font-family: var(--font-family-secondary);
}

.info h1 {
    font-size: var(--font-size-giga);
    line-height: .8;
}

.recommend {
    margin-top: var(--spacing-m);
    padding: var(--padding-md);
    width: 100%;
}

.recommend h2 {
    margin-bottom: 20px;
    text-align: center;
}

.recommend__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: var(--spacing-xl);
    padding: var(--padding-md);
    background-color: var(--base-white);
}

.catalog__item {
    width: 100%;
    border-radius: var(--radius-lg);
    box-shadow: 2px 2px 2px 2px #0002;
    position: relative;
    cursor: pointer !important;
    transition: transform .3s ease-out;
    z-index: 1;
    text-align: center;
}

.catalog__item .background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: inherit;
}

.catalog__item .background::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(0px) saturate(0%);
    z-index: -1;
    transition: filter .3s ease-out;
    border-radius: inherit;
}

.catalog__item:hover .background::after {
    filter: blur(5px) saturate(500%);
}

.item__content {
    padding: var(--padding-lg) var(--padding-md);
    background: var(--base-white);
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    display: block;
}

.item__content p {
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--secondary-800);
    font-family: var(--font-family-secondary);
    font-weight: lighter;
}

.item__content .image {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .3s ease-out;
}

.item__content:hover .image {
    transform: scale(1.05);
}

.item__content:hover .image::after {
    filter: blur(15px) saturate(500%);
}

.info__link {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

.info__data {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-500);
    color: var(--base-white);
    padding: .5rem;
    width: 50%;
    margin: auto;
    border-radius: var(--radius-m);
    gap: var(--spacing-sm);
}

.info .info__data {
    padding: var(--padding-sm);
    max-width: 300px;
    font-weight: 500;
}

h3 {
    text-align: center;
    line-height: .8;
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info .description {
    max-width: 600px;
    align-self: center;
}

@media screen and (min-width: 375px) {
    .catalog__item {
        width: 250px;
    }

    .item__content .image {
        height: 200px;
    }
}

@media screen and (min-width: 480px) {
    .container__items {
        padding: var(--padding-xxl) var(--padding-lg);
    }
}


@media screen and (min-width: 768px) {

    .gallery,
    .info {
        flex-grow: 1;
        flex-basis: 0;
    }

    .info {
        padding: var(--padding-lg) 0;
    }


    #container__product {
        flex-wrap: wrap;
        align-items: center;
    }

    .carrousel-button {
        display: none !important;
    }

    .gallery__extras {
        overflow-x: visible;
        scroll-snap-type: x mandatory;
        overflow-y: visible;
        scroll-snap-type: none;
        flex-wrap: wrap;
        justify-content: start;
    }

    h3 {
        min-height: 4rem;
    }

}

@media screen and (min-width: 1024px) {
    .info {
        gap: var(--spacing-xl);
    }
}