p {
    font-size: var(--font-size-p);
}

main {
    background: var(--base-white);
    box-shadow: var(--shadow-background);
    width: 100%;
    max-width: 1440px;
}

.section__title {
    width: 100%;
    padding: var(--padding-md);
    text-align: left;
    background-color: var(--orange);
    background-image: url('../images/support/title/opacity-aboutUs.webp');
    background-position: 300% 70%;
    background-size: 90%;
    background-repeat: no-repeat;
    color: var(--base-white);
}

h1 {
    padding: 1rem;
    font-size: var(--font-size-giga);
}

.section__title p {
    padding: 1rem;
    width: 100%;
    max-width: 400px;
}

.section__contact {
    padding: var(--padding-xxl) var(--padding-md);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-xl);
}

form {
    padding: var(--padding-xl) var(--padding-md);
    border-radius: var(--radius-m);
    background-color: var(--orange);
    color: var(--base-white);
}

form button.button {
    background-color: var(--orange-500);
    margin-top: var(--spacing-m);
    font-size: var(--font-size-lg);
}

input,
textarea {
    padding: 1rem;
    color: var(--base-black);
}

h2 {
    font-size: var(--font-size-jumbo);
}

h2 span {
    font-size: var(--font-size-mega);
}

.contact__info,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
    max-width: 500px;
    width: 100%;
}

form {
    max-width: 500px;
}

.form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

label,
input,
textarea {
    width: 100%;
}

.info__title,
.social__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact__info p {
    padding: var(--padding-md) 0;
}

.line {
    width: 80%;
    border: 1px solid var(--orange-700);
    margin: var(--spacing-m) 0;
}

.social__content {
    display: flex;
    justify-content: center;
    gap: var(--spacing-xl);
}

.social__content i {
    font-size: var(--font-size-mega);
}

.social__content__item {
    background-color: var(--base-white);
    border-radius: var(--radius-medium-perc);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .4s ease-out, color .25s ease-in-out, transform .5s ease-out, filter .5s ease-out;
    width: clamp(3.125rem, 2.568rem + 2.703vw, 5rem);
    height: clamp(3.125rem, 2.568rem + 2.703vw, 5rem);
    filter: blur(0);
}

.social__content__item a {
    background-color: var(--base-white);
}

.social__content__item:nth-child(1) {
    box-shadow: 0px 0px 10px 1px #1877f2;
    color: #1877f2;
}

.social__content__item:nth-child(2) {
    box-shadow: 0px 0px 10px 1px var(--secondary);
    color: var(--secondary);
}

.social__content__item:nth-child(3) {
    box-shadow: 0px 0px 10px 1px #25d366;
    color: #25d366;
}

@media screen and (min-width: 768px) {
    .section__title {
        background-image: url('../images/support/title/aboutUs.webp');
    }
}

@media screen and (min-width: 1024px) {
    .social__content .social__content__item {
        box-shadow: none;
    }

    .social__content__item:hover {
        transform: scale(1.1);
    }

    .social__content:hover .social__content__item:not(:hover) {
        transform: scale(0.9);
        filter: blur(2px);
    }

    .social__content__item:nth-child(1):hover {
        box-shadow: 0px 0px 15px 5px #1877f2;
    }

    .social__content__item:nth-child(2):hover {
        box-shadow: 0px 0px 15px 5px var(--secondary);
    }

    .social__content__item:nth-child(3):hover {
        box-shadow: 0px 0px 15px 5px #25d366;
    }

    .section__contact {
        flex-wrap: nowrap;
    }

    .container {
        flex-wrap: nowrap;
    }

}