@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

    /* Fonts */
    --font-family-primary: 'Shantell Sans', sans-serif;
    --font-family-secondary: 'Caveat Brush', cursive;

    /* Fonts Sizes */
    --font-size-xxs: clamp(0.625rem, 1vw, 0.75rem);
    --font-size-xs: clamp(0.75rem, 1.25vw, 0.875rem);
    --font-size-sm: clamp(0.875rem, 1.75vw, 1.125rem);
    --font-size-md: clamp(1rem, 1vw, 1rem);
    --font-size-lg: clamp(1.125rem, 2.25vw, 1.5rem);
    --font-size-xl: clamp(1.25rem, 2.5vw, 2rem);
    --font-size-xxl: clamp(1.5rem, 3vw, 2.5rem);
    --font-size-jumbo: clamp(1.75rem, 3.5vw, 3rem);
    --font-size-mega: clamp(2rem, 1.429rem + 2.857vw, 4rem);
    --font-size-giga: clamp(2.5rem, 1.786rem + 3.571vw, 5rem);


    --font-size-p: clamp(1rem, 2vw, 1.125rem);
    --font-size-caption: clamp(0.75rem, 1vw, 0.875rem);
    --font-size-button: clamp(0.875rem, 1.5vw, 1rem);

    /* Heading Sizes */
    --font-size-h1: clamp(2rem, 4vw, 3rem);
    --font-size-h2: clamp(1.75rem, 3.5vw, 2.5rem);
    --font-size-h3: clamp(1.5rem, 3vw, 2rem);
    --font-size-h4: clamp(1.25rem, 2.5vw, 1.75rem);
    --font-size-h5: clamp(1rem, 2vw, 1.2rem);
    --font-size-h6: clamp(0.875rem, 1.5vw, 1.25rem);

    /* Base Colors */
    --base-white: #fafafa;
    --base-black: #0a0a0b;
    --success: #308c3e;
    --warning: #d97925;
    --error: #e4626f;

    /* Primary Colors */
    --primary: #1da8e4;
    --primary-100: #d9f1fb;
    --primary-200: #b4e2f6;
    --primary-300: #8ed4f2;
    --primary-400: #68c5ed;
    --primary-500: #43b6e9;
    --primary-600: #1893c8;
    --primary-700: #147daa;
    --primary-800: #11688d;
    --primary-900: #0d526f;
    --primary-1000: #0a3c52;

    /* Secondary Colors */
    --secondary: #bf0f82;
    --secondary-100: #fcd7ef;
    --secondary-200: #f9aedf;
    --secondary-300: #f686cf;
    --secondary-400: #f25ebf;
    --secondary-500: #ef36af;
    --secondary-600: #e7129d;
    --secondary-700: #a30d6f;
    --secondary-800: #870b5c;
    --secondary-900: #6b0849;
    --secondary-1000: #4f0636;

    /* Neutrals Colors */
    --neutral-100: #e3e3e3;
    --neutral-200: #cccbcb;
    --neutral-300: #b5b3b3;
    --neutral-400: #9f9c9c;
    --neutral-500: #898384;
    --neutral-600: #726c6c;
    --neutral-700: #5a5555;
    --neutral-800: #433e3f;
    --neutral-900: #2b2829;
    --neutral-1000: #151314;

    /* Success Colors */
    --success-100: #afe4b7;
    --success-200: #5fc86f;
    --success-300: #22642c;

    /* Warning Colors */
    --warning-100: #f3d2b6;
    --warning-200: #e6a66d;
    --warning-300: #98551a;

    /* Error Colors */
    --error-100: #e4626f;
    --error-200: #c03744;
    --error-300: #8c1823;

    /* Green Colors */
    --green: #308c3e;
    --green-100: #e1f5e4;
    --green-200: #c3eac9;
    --green-300: #a5e0ae;
    --green-400: #87d693;
    --green-500: #69cc78;
    --green-600: #4bc15d;
    --green-700: #3aaa4b;
    --green-800: #287433;
    --green-900: #1f5c29;
    --green-1000: #17431e;

    /* Yellow Colors */
    --yellow: #ffc81a;
    --yellow-100: #fff2cc;
    --yellow-200: #ffe699;
    --yellow-300: #ffdb66;
    --yellow-400: #ffd033;
    --yellow-500: #ffc81a;
    --yellow-600: #e6b117;
    --yellow-700: #cc9a14;
    --yellow-800: #b38410;
    --yellow-900: #996d0d;
    --yellow-1000: #7f570a;

    /* Orange Colors */
    --orange: #d97925;
    --orange-100: #ffece0;
    --orange-200: #ffd4b8;
    --orange-300: #ffbd90;
    --orange-400: #ffa668;
    --orange-500: #ff8f40;
    --orange-600: #ff7818;
    --orange-700: #e06400;
    --orange-800: #b84f00;
    --orange-900: #903b00;
    --orange-1000: #682700;


    --purple: #6a367d;
    --purple-100: #f0e1f4;
    --purple-200: #dabde4;
    --purple-300: #c398d4;
    --purple-400: #ad74c4;
    --purple-500: #9650b4;
    --purple-600: #7f3da1;
    --purple-700: #6a367d;
    --purple-800: #552b66;
    --purple-900: #3f204f;
    --purple-1000: #2a1538;

    /* Spaging */
    --spacing-base: 16px;
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-s: 6px;
    --spacing-sm: 10px;
    --spacing-m: 14px;
    --spacing-ml: 20px;
    --spacing-l: 28px;
    --spacing-xl: 40px;

    /* Radius */
    --radius-sharp: 0px;
    --radius-xxs: 2px;
    --radius-xs: 2px;
    --radius-s: 4px;
    --radius-sm: 6px;
    --radius-m: 10px;
    --radius-ml: 16px;
    --radius-lg: 24px;
    --radius-xl: 36px;
    --radius-round: 999px;
    --radius-small-perc: 5%;
    --radius-medium-perc: 10%;
    --radius-full-round-perc: 50%;

    /* Padding */
    --padding-xxs: 4px;
    --padding-xs: 8px;
    --padding-sm: 16px;
    --padding-md: 24px;
    --padding-lg: 32px;
    --padding-xl: 40px;
    --padding-xxl: 48px;

    /* Shadows */
    --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.2);
    --shadow-heavy: 0 6px 12px rgba(0, 0, 0, 0.3);
    --shadow-button: 0 4px 6px rgba(0, 0, 0, 0.2);
    --shadow-card: 0 8px 16px rgba(0, 0, 0, 0.25);
    --shadow-text: 0 1px 3px rgba(0, 0, 0, 0.3);
    --shadow-background: 0 0 10px rgba(0, 0, 0, 0.15);
}

main {
    max-width: 1440px;
}

.section__title {
    margin-top: var(--spacing-ml);
    width: 100%;
    padding: var(--padding-md)
}

.section__title h1,
.section__title p {
    padding: var(--padding-sm);
}

h1 {
    font-size: var(--font-size-giga);
    padding: var(--padding-md) 0;
    text-align: center;
    width: 100%;
}

.section__credits {
    width: 100%;
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    padding: var(--padding-md);
    gap: var(--spacing-m);
}

.credit__item {
    width: 100%;
    max-width: 300px;
    padding: var(--padding-md) var(--padding-sm);
}

.credit__details {
    margin-top: var(--spacing-m);
}

.credit__item img {
    width: 100%;
}

.section__legal {
    padding: var(--padding-xxl) var(--padding-md);
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.section__legal ul li,
.section__credits ul li {
    list-style: disc;
    margin-left: 20px;
}

.section__credits p {
    text-align: left;
}

.section__credits ul li {
    padding: var(--padding-md) 0;
}

.section__credits ul li a:hover {
    text-decoration: underline;
}

.section__legal a {
    text-decoration: underline;
}