p {
    font-size: var(--font-size-p);
}

main {
    background: var(--base-white);
    box-shadow: var(--shadow-background);
    width: 100%;
    max-width: 1440px;
}

.section__title {
    width: 100%;
    padding: var(--padding-md);
    text-align: left;
    background-color: var(--green-800);
    background-image: url('../images/support/title/opacity-aboutUs.webp');
    background-position: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    color: var(--base-white);
}

h1 {
    padding: 1rem;
    font-size: var(--font-size-giga);
}

h2 {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-jumbo);
}

.section__title p {
    padding: 1rem;
    width: 100%;
    max-width: 400px;
}

.section__about {
    padding: var(--padding-lg) var(--padding-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
}

.about__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-m);
    width: 100%;
    gap: var(--spacing-ml);
    animation: fadeInUp 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.about__item:nth-last-child(1) {
    max-width: 100%;
    text-align: center;
}

.about__text {
    min-width: 200px;
    flex: 1;
}

.about__text h3 {
    font-size: var(--font-size-xl);
    padding: var(--padding-xs) 0;
    display: block;
}

.about__text span {
    display: block;
    padding: var(--spacing-ml);
    font-size: var(--font-size-lg);
    font-weight: 600;
}

.about__image {
    width: 200px;
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
}


.about__image img {
    width: 100%;
    max-width: 180px;
    object-position: center;
    object-fit: cover;
}

@media screen and (min-width: 480px) {
    .about__item {
        width: 80%;
        padding: var(--padding-sm) var(--padding-md);
    }


    .about__image {
        width: 300px;
        flex: 0 0 300px;
    }
}

@media screen and (min-width: 768px) {
    .section__title {
        background-image: url('../images/support/title/aboutUs.webp');
    }
}